<launch>
    <!-- test_luster_camera_node -->
    <node pkg="luster_camera" type="test_luster_camera_node" name="test_luster_camera_node"
          required="true" clear_params="true" output="screen">
        <rosparam command="load" file="$(find luster_camera)/config/luster_camera_cfg.yaml"/>
    </node>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find luster_camera)/rviz/test_luster_camera_node.rviz"/>

</launch>